# ------------------------
# Front-end / 사용자 화면
# ------------------------
flet

# ------------------------
# Manage Html / 웹페이지에서 아이템 정보 불러오기, 원래는 BeautifulSoup을 쓰는 것이지만 좀더 웹페이지를 동적으로 활용하기 위하여 최종적으로 Selenium으로 결정
# ------------------------
Selenium # ---------- ★ 크롬설치 필수 ★

# ------------------------
# DBMS / 이번 프로젝트에서는 DuckDB를 사용
# ------------------------
duckdb

# ------------------------
# Data Type / Pandas 사용법을 보려다가 더 좋은 Polars라고 있는 것을 발견하였지만 여기서는 Pandas를 쓴다
# ------------------------
pandas

# ------------------------
# Environment & Settings / 파일 경로를 좀 더 용이하게 사용하기 위함
# ------------------------
python-dotenv